#wrapper {
    width: 960px;
    margin: -30px auto 0;
}
#map {
    width: 960px;
    height: 580px;
    position: relative;
}
.stroke {
  fill: none;
  stroke: #888;
  stroke-width: 2px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.country {
    fill: steelblue;
    stroke: white;
}
#play, #clock {
  position: absolute;
  top: 15px;
}
#play {
  left: 15px;
}
#clock {
  left: 65px;
}
